* {
  box-sizing: border-box;
}
body {
  margin: 200px;
}
.hidden {
  display: none;
}
.wrapper {
  display: flex;
}
.btn-shadow {
  position: relative;
  width: max-content;
}
.btn-shadow:before {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 303px;
  height: 62px;
  box-shadow: 0px 6px 34px 4px rgba(0, 126, 255, 0.2);
  border-radius: 31px;
}
.btn-wrapper {
  position: relative;
  width: 340px;
  height: 65px;
  overflow: hidden;
}
.btn-wrapper:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 303px;
  height: 100%;
  background: transparent;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to top, #94e3f8 , #3054fa,  #94e3f8);
  background-size: 200% 200%;
  cursor: pointer;
  Color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  height: 62px;
  width: 303px;
  border-radius: 31px;
  transition: all .2s linear;
  box-shadow: 0px 3px 0px 0px #003cb6;
}
.btn:before {
  position: absolute;
  content: '';
  right: 40px;
  bottom: -3px;
  width: 100px;
  height: 3px;
  background: #003cb6;
  overflow: hidden;
  z-index: 5;
}

.btn img {
  position: absolute;
  transform: translateY(16%);
  right: -28px;
  transition: all .2s linear;
  z-index: 4;
}


.btn:hover img {
  transform: translateY(10%) rotate(8deg);
}


.btn:hover {
  background-position: bottom;
}

.btn:active {
  margin-top: 3px;
  box-shadow: 0px 0px 0px 0px #233eb1;
}

.btn-play {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-image: linear-gradient(0.0deg, #3055ea 0%, #68b7fd 100%);
  background-size: 200% 200%;
  transition: all .2s linear;
}
.btn-play:hover {
  background-position: bottom;
}
.btn-play:hover .btn-play-icon {
  background-position: bottom;
}
.btn-play:before {
  position: absolute;
  content: '';
  width: 58px;
  height: 58px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
}
.btn-play-icon {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(0.0deg, #3055ea 0%, #68b7fd 100%);
  background-size: 200% 200%;
  width: 16px;
  height: 20px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  border-radius: 1px 0 0 1px;
  transition: all .2s linear;
}
.btn-play-icon:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 16px;
  height: 19px;
  clip-path: polygon(9% 10%, 9% 90%, 86% 50%);
}
