* {
  box-sizing: border-box;
}
body {
  margin: 200px;
}
.btn-wrapper {
  width: 340px;
  height: 65px;
  overflow: hidden;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*background: linear-gradient(360deg, #233eb1, #92dff8);*/
  cursor: pointer;
  Color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 23px 20px;
  text-decoration: none;
  width: 303px;
}

.btn:before {
  position: absolute;
  content: '';
  display: block;
  top: -120px;
  left: 122px;
  height: 303px;
  width: 62px;
  background: linear-gradient(to left, #233eb1, #92dff8 , #233eb1);
  background-size: 200%;
  z-index: 2;
  transform: rotate(-90deg);
  border-radius: 31px;
  transition: all .3s linear;
}

.btn span {
  position: relative;
  z-index: 3;
}

.btn img {
  position: absolute;
  transform: translateY(16%);
  right: -28px;
  transition: all .5s linear;
  z-index: 4;
}

.btn:hover:before {
  background-position: right;
}

.btn:hover img {
  transform: translateY(10%) rotate(8deg);
}


